# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://eeocbfsgsqpymnnnzcmk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVlb2NiZnNnc3FweW1ubm56Y21rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA2MDcyNjAsImV4cCI6MjEwNjE4MzI2MH0.jjzrmJxFVcw0cgUgp3gfTu_9hvxE87xTthjzXMlpxmw
